server
.idea
gin-bin
.DS_Store
.terraform.lock.hcl
plan.out
plan
.vscode
.terraform
bin
*.zip
go.work*
build
.env
postman/newman/*.html
.code-workspace
**/.aws-sam/
github_rsa
*.log

/internal/cleanarchitecture/adapter/repository/mysql/archive.db
